language: ruby
rvm:
  - 2.5.1

services:
  - postgresql

before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq postgresql-server-dev-9.3

script:
  - mkdir -p spec && bundle exec rspec spec


before_script:
  - cp config/database.travis.yml config/database.yml
  - psql -c 'create database bookmark_manager_test;' -U postgres
